<div
  class="language-switcher"
  role="group"
  [attr.aria-label]="content().accessibility.languageSwitcherLabel"
>
  <button
    type="button"
    class="language-switcher__toggle"
    [class.language-switcher__toggle--en]="currentLanguage() === 'en'"
    [attr.aria-label]="content().accessibility.languageSwitcherLabel"
    [attr.aria-pressed]="currentLanguage() === 'en'"
    [attr.data-tooltip]="tooltipLabel()"
    (click)="toggleLanguage()"
  >
    <span class="language-switcher__side language-switcher__side--left">
      <img
        class="language-flag"
        src="images/flags/br.svg"
        width="25"
        height="16"
        alt=""
        decoding="async"
      />
    </span>
    <span class="language-switcher__side language-switcher__side--right">
      <img
        class="language-flag"
        src="images/flags/us.svg"
        width="25"
        height="16"
        alt=""
        decoding="async"
      />
    </span>
    <span class="language-switcher__thumb"></span>
  </button>
</div>
